<!DOCTYPE html>
{# this is my base! #}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sup?</title>
    {% load static %}
    {% load extra %}
{# always check https://getbootstrap.com #}
{# load static css file  #}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="https://www.wildguitars.co.il/skin/frontend/fortis/default/images/logo.png" alt="" class="img-rounded center-block"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'app_three:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app_three:relative' %}">Admin</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
  </body>
</html>
